appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bleach==3.2.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cx-Oracle==8.0.1
decorator==4.4.2
defusedxml==0.6.0
docker==4.3.1
entrypoints==0.3
flake8==3.8.3
Flask==0.12.2
idna==2.10
iniconfig==1.0.1
ipykernel==5.3.4
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.14.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.5.0
mypy-extensions==0.4.3
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
numpy==1.18.5
oraclecloud==0.2
packaging==20.4
pandas==0.25.3
pandas-oracle==2.1.4
pandocfilters==1.4.2
parso==0.7.1
pathspec==0.8.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
postgres==3.0.0
prometheus-client==0.8.0
prompt-toolkit==2.0.10
psycopg2-binary==2.8.6
psycopg2-pool==1.1
ptyprocess==0.6.0
py==1.9.0
pyaml==20.4.0
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
pyflakes==2.2.0
Pygments==2.7.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.0.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
redis==3.5.3
regex==2020.7.14
requests==2.24.0
scikit-learn==0.22
scipy==1.4.1
Send2Trash==1.5.0
six==1.15.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension
